version: 2.1
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            uv venv --python=3.9 /usr/local/share/virtualenvs/tap-asana
            source /usr/local/share/virtualenvs/tap-asana/bin/activate
            pip install -U 'pip<19.2' 'setuptools<51.0.0'
            pip install .[test]
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-asana/bin/activate
            pip install nose coverage parameterized
            nosetests --with-coverage --cover-erase --cover-package=tap_asana --cover-html-dir=htmlcov tests/unittests
            coverage html
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
            pip install .[test]
      - run:
          name: 'pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-asana/bin/activate
            pylint tap_asana -d bad-indentation,missing-docstring,line-too-long,no-member
      - add_ssh_keys
      - run:
          name: 'Integration Tests'
          no_output_timeout: 60m
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-test --tap=tap-asana tests
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
